<!DOCTYPE html>
<html lang="en" ng-app="GameAPP">
<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="GameCtrl">
    <h1>Tic Tac Toe!</h1>
    <table>
        <tr  ng-repeat="item in items">
            <td>
                <img class="tile" ng-click="do(item.one.row,item.one.col)" ng-src="img/{{item.one.img}}">
            </td>
            <td>
                <img class="tile" ng-click="do(item.two.row,item.two.col)" ng-src="img/{{item.two.img}}">
            </td>
            <td>
                <img class="tile" ng-click="do(item.three.row,item.three.col)" ng-src="img/{{item.three.img}}" >
            </td>

        </tr>
    </table>
    <div id="players">
        <div>
            <h2>Player 1: <img src="img/X.png" id="one"> </h2>

        </div>
        <div>
            <h2>Player 2: <img src="img/circle.png" id="two"></h2>

        </div>


    </div>

</body>
</html>